<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<body>
  <header>
    <div class="center-block text-center">
      <h3>
        MyGenealogy
        <BR>
      </h3>
    </div>
  </header>
  <nav class="navbar navbar-default mega-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      </div>
      <div class="collapse navbar-collapse" id="MainMenu">
        <ul class="nav navbar-nav menu-list">
          <li><a href="#" routerLink="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li><a href="#" routerLink="/nova-prova">Cadastrar Prova</a></li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          William Balbino <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="#" routerLink="/detalhe-pessoa">Meu perfil</a></li>
              <li class="disabled"><a href="#">Configurações da conta</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" routerLink="/login">Logar com outra conta</a></li>
              <li><a href="#" >Sair</a></li>
            </ul>
          </li>

        </ul>
        <form id="mega-search" class="navbar-form navbar-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar...">
            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
          </div>
        </form>

      </div>
    </div>
  </nav>
  <main role="contents">
    <div class="container">
      <section class="main-banner">
        <img src="https://shop365.com.sg/media/wysiwyg/home/Home-Page-Banner---Kenwood-_-Delonghi.jpg" alt="" class="img-responsive"
        />
      </section>
    </div>
    <div class="darkness"></div>
  </main>
  <footer>
    <div class="darkness"></div>
  </footer>
</body>
