    <div class="center-block text-center" id="nova-prova-form">
      
      <form #f="ngForm" (submit)="form_cadastro(f)" >
        <div class="form-group">
          <label for="disciplina">Disciplina</label>
          <input type="text" required ngModel class="form-control" id="disciplina"
          name="disciplina" >
        </div>
        <div class="form-group">
          <label for="curso">Curso</label>
          <input type="text" required ngModel class="form-control" id="curso"
          name="curso" >
          </div>
        <div class="form-group">
          <label for="periodo">Periodo</label>
          <input type="text" required ngModel class="form-control" id="periodo"
          name="periodo" >
          </div>
        <div class="form-group">
          <label for="questao">Questão</label>
          <input type="text" required ngModel class="form-control" id="questao"
          name="questao" >
          </div>
          <button type="submit" [disabled]="!verificaSeFormEValido(f)" class="btn btn-success">Cadastrar</button>
          <button type="button" class="btn btn-default">Cancelar</button>
        </form>
      
      </div>
      <br>

