<div class="center-block text-center" id="nova-pessoa-form">
    
      <form>
        <div class="form-group">
          <label for="disciplina">Disciplina</label>
          <input type="text" class="form-control" id="disciplina">
        </div>
        <div class="form-group">
          <label for="curso">Curso</label>
          <input type="text" class="form-control" id="curso">
        </div>
        <div class="form-group">
          <label for="periodo">Periodo</label>
          <input type="text" class="form-control" id="periodo">
        </div>
        <div class="form-group">
          <label for="questoes">Questoes</label>
          <input type="text" class="form-control" id="questoes">
        </div>
        <button type="button"  routerLink="/home" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-default">Cancelar</button>
        
      </form>
    
    
    </div>